@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.upload-user-form {
  margin: 1.75rem auto;
}

.container {
  max-width: 50em;
  margin: 1.5em auto;
}

.even-columns {
  display: flex;
}

.photo-form-first {
  display: flex;
}

.even-grid {
  display: grid;
  grid-template-columns: 55% 45%;
}

.gap-form-5 {
  /* gap: 5.75rem; */
  justify-content: space-between;
}

.upload-photo {
  width: 174px;
  height: 197px;
  border: 1px dotted rgb(100, 149, 237);
  background-color: rgba(100, 149, 237, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(33, 68, 132);
}

.upload-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-photo input[type="file"] {
  display: none;
}

.candidate-form label{
  width: 125px;
}

.candidate-form-control {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  margin-bottom: 0.875em;
  align-items: center;
}

.candidate-form-control input {
  min-width: 18rem;
  padding: 0.7rem;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 3px;
}

.candidate-modal {
  position: fixed;
  z-index: 50;
  height: 100%;
}

.candidate-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.candidate-modal-view {
  position: fixed;
  inset: 0;
  z-index: 10;
  overflow: auto;
  height: 100%;
}

.candidate-modal-title {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem auto;
}

.candidate-modal-content {
  width: 25rem;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
}

.btn-camera-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.btn-camera-column button {
  width: 100%;
  padding: 0.75rem;
}

.btn-open-camera {
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.btn-canel-camera {
  background-color: transparent;
  font-size: 18px;
  border: 1px solid #bdbdbd;
  border-radius: 9999px;
  cursor: pointer;
}

.video-wrapper {
  width: 100%;
  max-height: 500px;
}

.camera-video {
  aspect-ratio: 1 / 1 ;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cropper-wrapper {
  max-width: 32rem;
  width: 100%;
  margin: 0 auto;
}

.cropper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.px-30 {
  padding: 0 1.875rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.skills-list .skills {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.entry {
  gap: 0.2rem;
}

.entry-click {
  gap: 0.2rem;
}

.skills-list .skills input[type="checkbox"], .entry input[type="checkbox"] {
  accent-color: black;
}

.responsibilities {
  display: flex;
  gap: 2.85rem;
}

.work-experience {
  width: 94.3%;
}

.work-experience input, .work-experience textarea{
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 3px;
}

.even-grid-row {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.even-grid-row-work {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.work-experience textarea {
  height: 5rem;
}

.flex-experience {
  display: flex;
  gap: 2rem;
}

.flex-experience .experience-date{
  flex-grow: 1;
}

.flex-experience .experience-date input{
  margin-top: 0.5rem;
}

.block-submit-btn{
  max-width: 50em;
  margin: 0 auto;
}

.block-submit-btn button {
  width: 100%;
  background-color: #00153E;
  border: none;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
}

.response-select-box select{
  outline: none;
  background-color: #F8F8F8;
  border: 1px solid #b1b1b1;
  padding: 4px 10px;
}

.exp-work-form {
  width: 100%;
}

.previewPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 0.875rem;
}

.previewPhoto-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* utility class */
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-conent-space {
  justify-content: space-between;
}

.gap-small {
  gap: 0.4em;
}

.mb-50 {
  margin-bottom: 1.875rem;
}

.mb-10 {
  margin-bottom: 3rem;
}

.text-align-center {
  text-align: center;
}

.mt-30 {
  margin-top: 2.5rem;
}

.mb-20 {
  margin-bottom: 0.875rem;
}

.mb-30 {
  margin-bottom: 1rem;
}

.gap-10 {
  gap: 10rem;
}

.cursor {
  cursor: pointer;
}

/** media query **/
@media (max-width: 50em) {
  .container {
    padding: 1.5em;
  }

  .block-submit-btn {
    padding: 1.5em;
  }

  .candidate-modal-content {
    width: 20em;
  }

  .photo-form-first {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  .candidate-form label {
    width: 20px;
  }

  .candidate-form-control {
    display: block;
  }

  .candidate-form-control input {
    margin-top: 0.3rem;
    width: 100%;
  }
  
  .flex-experience {
    flex-direction: column;
    gap: 0.5rem;
  }
}